@font-face {
  font-family: "wrgroup";
  src:url("../fonts/wrgrour.eot");
  src:url("../fonts/wrgrour.eot?#iefix") format("embedded-opentype"),
    url("../fonts/wrgrour.woff") format("woff"),
    url("../fonts/wrgrour.ttf") format("truetype"),
    url("../fonts/wrgrour.svg#wrgrour") format("svg");
  font-weight: normal;
  font-style: normal;

}