<nav class="mobile-menu">
	<div class="mobile-menu-item">
		<ul >
			<li><a href="#">Услуги</a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Статистика</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<div class="innovation">
			<h5>Время работы</h5>
			<p>Понедельник  - Пятница<span>10:00 - 18:00</span></p>
		</div>
	</div>
</nav>
<header id="header">
	<div class="header-img"><img src="../img/bg-mobile.jpg" alt=""></div>
	<div class="wrapper">
		<a href="#" class="logo"><img src="../img/logo-mobile.png" alt=""></a>
		<div class="menu-burger"><span class="menu-burger-item"></span></div>
		<div class="language">
			<a href="#" class="language-ru"><img src="../img/rus.png" alt=""></a>
			<div class="language-content">
				<a href="#"><img src="../img/ua.png" alt=""></a>
			</div>
		</div>
		<a href="#" class="mobile-phone"></a>
	</div>
</header>