<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>wrgroup-mobile</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<link rel="stylesheet" type="text/css" href="../css/screen.css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="../js/vendor.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
	<div class="global-wrapper">