#footer
	background: image-url("footer-img.jpg") left bottom no-repeat
	padding-top: 106px
	padding-bottom: 45px
	position: absolute
	bottom: 0
	left: 0
	right: 0
.development-support 
	color: #3c4741
	font-size: 14px
	line-height: 16px
	display: block
	+transition(0.2s)
	margin-bottom: 14px
	letter-spacing: 0.3px
	margin-top: 27px
	margin-left: 2px
	padding-left: 92px
	+box-sizing(border-box)
	a 
		display: inline-block
		color: #31a665
		+transition(0.2s)
		&:hover
			color: #0a371e